{% extends "aip-github-ap2_en.j2" %}

{% block summary %}
<p>This describes the data model used in the CONTI 10 usecase</p>
{% endblock %}

{% block status %}
<p>(Remove this block to see the standardized text.)</p>
{% endblock %}

{% block examples %}

<aside class="example" title="An observation and details about the sensor">
  <p>
    The example shows an observation and details about the sensor.
  <p>
  <pre class="js">
   {
    "@context": "https://system.conti.com/compoundnameobservation.jsonld",
    "@type": "Observation",
    "@id": "https://system.conti.com/uuid/123",
    "madeBySensor": {
	   "@type": "https://data.ai-proficient.eu/ns/conti10#ExtruderSensor",
	   "@id" : "https://data.ai-proficient.eu/id/conti/sensor/extruder1SensorCompoundNameSetpoint",
	   "identifier" : "extruder1SensorCompoundName",
	   "locatedAt" : {
	       "@type" : "https://data.ai-proficient.eu/ns/conti10#Extruder"
           "@id" : "https://data.ai-proficient.eu/id/conti/extruder/1"
           "identifier" : "1"		   
	   },
	   "hasSystemCapability" : {
	       "hasSystemProperty" : {
		      "@id" : "https://data.ai-proficient.eu/id/conti/frequency/everyRecipeLoading",
			  "value" : "every recipe loading"
			  "unitText": "recipe loading"
		   }
	   },
	   "setpointFor": {
	   "@id": "https://data.ai-proficient.eu/id/conti/sensor/extruder1SensorCompoundNameActual"
	   }
	 },
    "result": {
	   "unitText" : "no unit",
	   "value" : "rubber type 1"
	},
    "resultTime": "2022-05-12T23:04:12Z",
    "featureOfInterest": {
	    "@id" : "https://data.ai-proficient.eu/id/conti/feature/compoundname"
	}
    }

  </pre>
</aside>

<aside class="example" title="Example 1 observation condensed ">
  <p>
    The example shows the observation from Example 1 in the most condensed form
  <p>
  <pre class="js">
{
    "@context": "https://system.conti.com/compoundnameobservation.jsonld",
    "@type": "Observation",
    "@id": "https://system.conti.com/uuid/123",
    "madeBySensor": "https://data.ai-proficient.eu/id/conti/sensor/extruder1SensorCompoundNameSetpoint",
    "result": {
	   "unitText" : "no unit",
	   "value" : "rubber type 1"
	},
    "resultTime": "2022-05-12T23:04:12Z",
    "featureOfInterest": "https://data.ai-proficient.eu/id/conti/feature/compoundname"
}
  </pre>
</aside>

<aside class="example" title="Example 2 with ids condensed ">
  <p>
    The example shows the observation from Example 2 with condensed identifiers.
    This requires adapting the json-ld context to add the appropriate prefix to each value.
  <p>
  <pre class="js">
{
    "@context": "https://system.conti.com/compoundnameobservation.jsonld",
    "@type": "Observation",
    "@id": "123",
    "madeBySensor": "extruder1SensorCompoundNameSetpoint",
    "result": {
	   "unitText" : "no unit",
	   "value" : "rubber type 1"
	},
    "resultTime": "2022-05-12T23:04:12Z",
    "featureOfInterest": "compoundname"
}
  </pre>
</aside>

{% endblock %}
