{% extends "aip-github-ap2_en.j2" %}

{% block summary %}
<p>ADD SUMMARY</p>
{% endblock %}

{% block status %}
<p>(Remove this block to see the standardized text.)</p>
{% endblock %}


<div class="note" role="note">
    <div role="heading" class="note-title marker">
        <span>Example Note</span>
    </div>
    <div class="">
        <p>
            Note: This is an example of how to implement a green note
        </p>
    </div>
</div>